In [1]:
import pandas as pd
df=pd.read_csv('/content/drive/MyDrive/climate_change.csv')
df

,Year,Month,MEI,CO2,CH4,N2O,CFC-11,CFC-12,TSI,Aerosols,Temp
0,1983,5,2.556,345.96,1638.59,303.677,191.324,350.113,1366.1024,0.0863,0.109
1,1983,6,2.167,345.52,1633.71,303.746,192.057,351.848,1366.1208,0.0794,0.118
2,1983,7,1.741,344.15,1633.22,303.795,192.818,353.725,1366.2850,0.0731,0.137
3,1983,8,1.130,342.25,1631.35,303.839,193.602,355.633,1366.4202,0.0673,0.176
4,1983,9,0.428,340.17,1648.40,303.901,194.392,357.465,1366.2335,0.0619,0.149
...,...,...,...,...,...,...,...,...,...,...,...
303,2008,8,-0.266,384.15,1779.88,321.405,244.200,535.072,1365.6570,0.0036,0.407
304,2008,9,-0.643,383.09,1795.08,321.529,244.083,535.048,1365.6647,0.0043,0.378
305,2008,10,-0.780,382.99,1814.18,321.796,244.080,534.927,1365.6759,0.0046,0.440
306,2008,11,-0.621,384.13,1812.37,322.013,244.225,534.906,1365.7065,0.0048,0.394
307,2008,12,-0.666,385.56,1812.88,322.182,244.204,535.005,1365.6926,0.0046,0.330

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [3]:
df=df.drop(['Year','Month'],axis=1)
df

,MEI,CO2,CH4,N2O,CFC-11,CFC-12,TSI,Aerosols,Temp
0,2.556,345.96,1638.59,303.677,191.324,350.113,1366.1024,0.0863,0.109
1,2.167,345.52,1633.71,303.746,192.057,351.848,1366.1208,0.0794,0.118
2,1.741,344.15,1633.22,303.795,192.818,353.725,1366.2850,0.0731,0.137
3,1.130,342.25,1631.35,303.839,193.602,355.633,1366.4202,0.0673,0.176
4,0.428,340.17,1648.40,303.901,194.392,357.465,1366.2335,0.0619,0.149
...,...,...,...,...,...,...,...,...,...
303,-0.266,384.15,1779.88,321.405,244.200,535.072,1365.6570,0.0036,0.407
304,-0.643,383.09,1795.08,321.529,244.083,535.048,1365.6647,0.0043,0.378
305,-0.780,382.99,1814.18,321.796,244.080,534.927,1365.6759,0.0046,0.440
306,-0.621,384.13,1812.37,322.013,244.225,534.906,1365.7065,0.0048,0.394
307,-0.666,385.56,1812.88,322.182,244.204,535.005,1365.6926,0.0046,0.330

In [4]:
y=df['Temp']
y

0      0.109
1      0.118
2      0.137
3      0.176
4      0.149
       ...
303    0.407
304    0.378
305    0.440
306    0.394
307    0.330
Name: Temp, Length: 308, dtype: float64

In [5]:
x=df.drop(['Temp'],axis=1)
x

       MEI     CO2      CH4      N2O   CFC-11   CFC-12        TSI  Aerosols
0    2.556  345.96  1638.59  303.677  191.324  350.113  1366.1024    0.0863
1    2.167  345.52  1633.71  303.746  192.057  351.848  1366.1208    0.0794
2    1.741  344.15  1633.22  303.795  192.818  353.725  1366.2850    0.0731
3    1.130  342.25  1631.35  303.839  193.602  355.633  1366.4202    0.0673
4    0.428  340.17  1648.40  303.901  194.392  357.465  1366.2335    0.0619
..     ...     ...      ...      ...      ...      ...        ...       ...
303 -0.266  384.15  1779.88  321.405  244.200  535.072  1365.6570    0.0036
304 -0.643  383.09  1795.08  321.529  244.083  535.048  1365.6647    0.0043
305 -0.780  382.99  1814.18  321.796  244.080  534.927  1365.6759    0.0046
306 -0.621  384.13  1812.37  322.013  244.225  534.906  1365.7065    0.0048
307 -0.666  385.56  1812.88  322.182  244.204  535.005  1365.6926    0.0046

[308 rows x 8 columns]

In [6]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.3,random_state=42)

In [7]:
x_test

       MEI     CO2      CH4      N2O   CFC-11   CFC-12        TSI  Aerosols
288  0.183  386.58  1795.65  320.445  247.224  538.130  1365.6932    0.0041
9   -0.565  344.77  1656.48  304.194  197.759  364.296  1365.6618    0.0416
57   0.665  351.68  1701.18  306.699  242.064  440.937  1366.1079    0.0088
60   0.085  354.18  1705.69  306.472  246.043  444.729  1366.3008    0.0071
25  -0.086  348.40  1659.40  305.027  212.512  381.642  1365.6964    0.0126
..     ...     ...      ...      ...      ...      ...        ...       ...
172  3.000  360.31  1775.56  312.845  267.414  534.415  1365.6734    0.0053
250 -0.125  378.73  1807.48  318.198  254.712  543.008  1366.1272    0.0024
19  -0.611  344.54  1672.15  305.313  207.308  372.701  1365.7617    0.0188
146  0.182  361.70  1749.21  310.713  269.636  524.878  1365.6960    0.0094
79   0.142  352.84  1730.61  308.558  259.472  475.630  1366.8784    0.0054

[93 rows x 8 columns]

In [8]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
x_train_scaled = scaler.fit_transform(x_train)
x_test_scaled = scaler.transform(x_test)

In [9]:
from sklearn.linear_model import LinearRegression
model=LinearRegression()
model.fit(x_train_scaled,y_train)

LinearRegression()

In [10]:
model.score(x_test_scaled,y_test)

0.6783967006425051

In [11]:
data=pd.read_excel('/content/drive/MyDrive/Climate_Change_Predicton.xlsx')    #Importing the new data for pediction
data

,Year,Month,MEI,CO2,CH4,N2O,CFC-11,CFC-12,TSI,Aerosols,Temp
0,1987,7,-0.138,343.07,1674.65,303.970,223.189,535.979,1366.2335,0.0068,-0.035
1,1986,3,-0.179,344.05,1677.10,304.032,224.236,535.648,1366.0589,0.0058,-0.008
2,1986,7,-0.082,344.77,1672.15,304.082,225.302,535.399,1366.1072,0.0060,-0.093
3,1981,9,0.016,345.46,1663.42,304.130,226.343,535.128,1366.0607,0.0060,-0.002
4,1991,12,-0.351,346.77,1666.21,304.194,227.325,535.026,1365.4261,0.0060,0.121
5,1995,11,-0.611,347.55,1678.34,304.285,228.224,535.072,1365.6618,0.0057,0.065
6,1974,10,-0.561,346.98,1675.24,304.389,229.058,535.048,1366.1697,0.0055,0.049
7,1983,3,2.344,345.55,1666.83,304.489,229.846,534.927,1365.5660,0.0053,0.009

In [12]:
data1=data.drop(["Year","Month","Temp"],axis=1)
data1

     MEI     CO2      CH4      N2O   CFC-11   CFC-12        TSI  Aerosols
0 -0.138  343.07  1674.65  303.970  223.189  535.979  1366.2335    0.0068
1 -0.179  344.05  1677.10  304.032  224.236  535.648  1366.0589    0.0058
2 -0.082  344.77  1672.15  304.082  225.302  535.399  1366.1072    0.0060
3  0.016  345.46  1663.42  304.130  226.343  535.128  1366.0607    0.0060
4 -0.351  346.77  1666.21  304.194  227.325  535.026  1365.4261    0.0060
5 -0.611  347.55  1678.34  304.285  228.224  535.072  1365.6618    0.0057
6 -0.561  346.98  1675.24  304.389  229.058  535.048  1366.1697    0.0055
7  2.344  345.55  1666.83  304.489  229.846  534.927  1365.5660    0.0053

In [13]:
y_pred=model.predict(data1)

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:444: UserWarning: X has feature names, but LinearRegression was fitted without feature names
  f"X has feature names, but {self.__class__.__name__} was fitted without"

In [14]:
y_pred

array([158.62387902, 158.5014273 , 158.25392441, 157.92735476,
       157.84776427, 158.00046713, 157.81716363, 157.60835169])