In [1]:
import pandas as pd
df=pd.read_csv('/content/drive/MyDrive/climate_change.csv')
df

,Year,Month,MEI,CO2,CH4,N2O,CFC-11,CFC-12,TSI,Aerosols,Temp
0,1983,5,2.556,345.96,1638.59,303.677,191.324,350.113,1366.1024,0.0863,0.109
1,1983,6,2.167,345.52,1633.71,303.746,192.057,351.848,1366.1208,0.0794,0.118
2,1983,7,1.741,344.15,1633.22,303.795,192.818,353.725,1366.2850,0.0731,0.137
3,1983,8,1.130,342.25,1631.35,303.839,193.602,355.633,1366.4202,0.0673,0.176
4,1983,9,0.428,340.17,1648.40,303.901,194.392,357.465,1366.2335,0.0619,0.149
...,...,...,...,...,...,...,...,...,...,...,...
303,2008,8,-0.266,384.15,1779.88,321.405,244.200,535.072,1365.6570,0.0036,0.407
304,2008,9,-0.643,383.09,1795.08,321.529,244.083,535.048,1365.6647,0.0043,0.378
305,2008,10,-0.780,382.99,1814.18,321.796,244.080,534.927,1365.6759,0.0046,0.440
306,2008,11,-0.621,384.13,1812.37,322.013,244.225,534.906,1365.7065,0.0048,0.394
307,2008,12,-0.666,385.56,1812.88,322.182,244.204,535.005,1365.6926,0.0046,0.330

In [2]:
df1=df.drop(["Year","Month"],axis=1)
df1.head()

,MEI,CO2,CH4,N2O,CFC-11,CFC-12,TSI,Aerosols,Temp
0,2.556,345.96,1638.59,303.677,191.324,350.113,1366.1024,0.0863,0.109
1,2.167,345.52,1633.71,303.746,192.057,351.848,1366.1208,0.0794,0.118
2,1.741,344.15,1633.22,303.795,192.818,353.725,1366.2850,0.0731,0.137
3,1.130,342.25,1631.35,303.839,193.602,355.633,1366.4202,0.0673,0.176
4,0.428,340.17,1648.40,303.901,194.392,357.465,1366.2335,0.0619,0.149

In [3]:
my_series=pd.cut(df1.Temp,bins=[-0.282,0.004,0.406,0.739],labels=['low','moderate','high'])   #labeling based on numeric data by giving the range
my_series

0      moderate
1      moderate
2      moderate
3      moderate
4      moderate
         ...
303        high
304    moderate
305        high
306    moderate
307    moderate
Name: Temp, Length: 308, dtype: category
Categories (3, object): ['low' < 'moderate' < 'high']

In [4]:
df=my_series.to_frame()   #series to dataframe
df

         Temp
0    moderate
1    moderate
2    moderate
3    moderate
4    moderate
..        ...
303      high
304  moderate
305      high
306  moderate
307  moderate

[308 rows x 1 columns]

In [5]:
df1['Temp_Bucket']=my_series   #adding the column to the dataset
df1

,MEI,CO2,CH4,N2O,CFC-11,CFC-12,TSI,Aerosols,Temp,Temp_Bucket
0,2.556,345.96,1638.59,303.677,191.324,350.113,1366.1024,0.0863,0.109,moderate
1,2.167,345.52,1633.71,303.746,192.057,351.848,1366.1208,0.0794,0.118,moderate
2,1.741,344.15,1633.22,303.795,192.818,353.725,1366.2850,0.0731,0.137,moderate
3,1.130,342.25,1631.35,303.839,193.602,355.633,1366.4202,0.0673,0.176,moderate
4,0.428,340.17,1648.40,303.901,194.392,357.465,1366.2335,0.0619,0.149,moderate
...,...,...,...,...,...,...,...,...,...,...
303,-0.266,384.15,1779.88,321.405,244.200,535.072,1365.6570,0.0036,0.407,high
304,-0.643,383.09,1795.08,321.529,244.083,535.048,1365.6647,0.0043,0.378,moderate
305,-0.780,382.99,1814.18,321.796,244.080,534.927,1365.6759,0.0046,0.440,high
306,-0.621,384.13,1812.37,322.013,244.225,534.906,1365.7065,0.0048,0.394,moderate
307,-0.666,385.56,1812.88,322.182,244.204,535.005,1365.6926,0.0046,0.330,moderate

In [6]:
temp=df1['Temp'].values
temp

array([ 0.109,  0.118,  0.137,  0.176,  0.149,  0.093,  0.232,  0.078,
        0.089,  0.013,  0.049, -0.019,  0.065, -0.016, -0.024,  0.034,
        0.025, -0.035, -0.123, -0.282, -0.001, -0.155, -0.032, -0.042,
        0.001, -0.049, -0.042,  0.013, -0.035, -0.008, -0.093, -0.002,
        0.121,  0.065,  0.049,  0.045,  0.023,  0.055,  0.004, -0.001,
        0.016,  0.043, -0.033,  0.022,  0.116,  0.266,  0.021,  0.084,
        0.145,  0.121,  0.238,  0.219,  0.25 ,  0.174,  0.186,  0.314,
        0.334,  0.189,  0.248,  0.224,  0.175,  0.2  ,  0.168,  0.154,
        0.149,  0.12 ,  0.027,  0.106,  0.019,  0.094,  0.088,  0.083,
        0.073,  0.094,  0.167,  0.168,  0.135,  0.145,  0.067,  0.181,
        0.187,  0.242,  0.442,  0.285,  0.231,  0.233,  0.196,  0.227,
        0.179,  0.271,  0.278,  0.199,  0.224,  0.272,  0.161,  0.299,
        0.249,  0.269,  0.271,  0.225,  0.176,  0.133,  0.079,  0.084,
        0.266,  0.25 ,  0.199,  0.132,  0.125,  0.118, -0.008, -0.007,
       -0.062, -0.072, -0.097,  0.007,  0.204,  0.161,  0.202,  0.121,
        0.158,  0.122,  0.088,  0.06 ,  0.013,  0.061, -0.041,  0.111,
        0.16 , -0.072,  0.176,  0.173,  0.218,  0.191,  0.141,  0.175,
        0.156,  0.23 ,  0.248,  0.227,  0.349,  0.449,  0.286,  0.229,
        0.176,  0.283,  0.276,  0.305,  0.21 ,  0.241,  0.266,  0.163,
        0.069,  0.246,  0.13 ,  0.097,  0.177,  0.159,  0.177,  0.178,
        0.093,  0.089,  0.077,  0.172,  0.156,  0.247,  0.262,  0.201,
        0.254,  0.367,  0.372,  0.406,  0.457,  0.485,  0.449,  0.526,
        0.486,  0.739,  0.52 ,  0.608,  0.57 ,  0.579,  0.651,  0.616,
        0.4  ,  0.409,  0.342,  0.424,  0.366,  0.54 ,  0.29 ,  0.322,
        0.248,  0.266,  0.282,  0.253,  0.274,  0.241,  0.223,  0.338,
        0.212,  0.363,  0.334,  0.446,  0.271,  0.252,  0.261,  0.338,
        0.309,  0.213,  0.159,  0.179,  0.329,  0.289,  0.475,  0.426,
        0.399,  0.416,  0.452,  0.498,  0.405,  0.378,  0.491,  0.323,
        0.568,  0.593,  0.586,  0.443,  0.432,  0.455,  0.462,  0.417,
        0.413,  0.362,  0.397,  0.326,  0.514,  0.427,  0.418,  0.408,
        0.439,  0.437,  0.457,  0.514,  0.499,  0.55 ,  0.419,  0.519,
        0.496,  0.56 ,  0.501,  0.484,  0.323,  0.35 ,  0.38 ,  0.418,
        0.442,  0.468,  0.521,  0.381,  0.452,  0.364,  0.493,  0.53 ,
        0.476,  0.506,  0.532,  0.502,  0.498,  0.495,  0.478,  0.366,
        0.32 ,  0.435,  0.38 ,  0.378,  0.352,  0.442,  0.456,  0.482,
        0.425,  0.472,  0.44 ,  0.518,  0.601,  0.498,  0.435,  0.466,
        0.372,  0.382,  0.394,  0.358,  0.402,  0.362,  0.266,  0.226,
        0.074,  0.198,  0.447,  0.278,  0.283,  0.315,  0.406,  0.407,
        0.378,  0.44 ,  0.394,  0.33 ])

In [7]:
temp_bucket=df1['Temp_Bucket'].values
temp_bucket

['moderate', 'moderate', 'moderate', 'moderate', 'moderate', ..., 'high', 'moderate', 'high', 'moderate', 'moderate']
Length: 308
Categories (3, object): ['low' < 'moderate' < 'high']

In [8]:

x = df1.iloc[:,0:9].values
x

array([[ 2.5560000e+00,  3.4596000e+02,  1.6385900e+03, ...,
         1.3661024e+03,  8.6300000e-02,  1.0900000e-01],
       [ 2.1670000e+00,  3.4552000e+02,  1.6337100e+03, ...,
         1.3661208e+03,  7.9400000e-02,  1.1800000e-01],
       [ 1.7410000e+00,  3.4415000e+02,  1.6332200e+03, ...,
         1.3662850e+03,  7.3100000e-02,  1.3700000e-01],
       ...,
       [-7.8000000e-01,  3.8299000e+02,  1.8141800e+03, ...,
         1.3656759e+03,  4.6000000e-03,  4.4000000e-01],
       [-6.2100000e-01,  3.8413000e+02,  1.8123700e+03, ...,
         1.3657065e+03,  4.8000000e-03,  3.9400000e-01],
       [-6.6600000e-01,  3.8556000e+02,  1.8128800e+03, ...,
         1.3656926e+03,  4.6000000e-03,  3.3000000e-01]])

In [9]:
df1

,MEI,CO2,CH4,N2O,CFC-11,CFC-12,TSI,Aerosols,Temp,Temp_Bucket
0,2.556,345.96,1638.59,303.677,191.324,350.113,1366.1024,0.0863,0.109,moderate
1,2.167,345.52,1633.71,303.746,192.057,351.848,1366.1208,0.0794,0.118,moderate
2,1.741,344.15,1633.22,303.795,192.818,353.725,1366.2850,0.0731,0.137,moderate
3,1.130,342.25,1631.35,303.839,193.602,355.633,1366.4202,0.0673,0.176,moderate
4,0.428,340.17,1648.40,303.901,194.392,357.465,1366.2335,0.0619,0.149,moderate
...,...,...,...,...,...,...,...,...,...,...
303,-0.266,384.15,1779.88,321.405,244.200,535.072,1365.6570,0.0036,0.407,high
304,-0.643,383.09,1795.08,321.529,244.083,535.048,1365.6647,0.0043,0.378,moderate
305,-0.780,382.99,1814.18,321.796,244.080,534.927,1365.6759,0.0046,0.440,high
306,-0.621,384.13,1812.37,322.013,244.225,534.906,1365.7065,0.0048,0.394,moderate
307,-0.666,385.56,1812.88,322.182,244.204,535.005,1365.6926,0.0046,0.330,moderate

In [10]:
y = df1.iloc[:,9].values
y

['moderate', 'moderate', 'moderate', 'moderate', 'moderate', ..., 'high', 'moderate', 'high', 'moderate', 'moderate']
Length: 308
Categories (3, object): ['low' < 'moderate' < 'high']

In [11]:
y=df1['Temp_Bucket']

In [12]:
y

0      moderate
1      moderate
2      moderate
3      moderate
4      moderate
         ...
303        high
304    moderate
305        high
306    moderate
307    moderate
Name: Temp_Bucket, Length: 308, dtype: category
Categories (3, object): ['low' < 'moderate' < 'high']

In [13]:
y.shape

(308,)

In [14]:
#df1['Temp_Bucket']=df1.Temp_Bucket.map({'low':'1','moderate':'2','high':3})
#df1

In [15]:
from sklearn.preprocessing import LabelEncoder     #importing LabelEncoder
labeled=LabelEncoder()

In [16]:
df1['Temp_Bucket']=labeled.fit_transform(df1['Temp_Bucket'].astype(str))      #Converting the object datatype to numeric
df1['Temp_Bucket']

0      2
1      2
2      2
3      2
4      2
      ..
303    0
304    2
305    0
306    2
307    2
Name: Temp_Bucket, Length: 308, dtype: int64

In [17]:
#df = df.apply(lambda 'Temp_Bucket': labeled.fit_transform('Temp_Bucket'3#))
#df

In [18]:
#df2=pd.get_dummies(df1['Temp_Bucket'])
#df2

In [19]:
df1['Temp_Bucket']

0      2
1      2
2      2
3      2
4      2
      ..
303    0
304    2
305    0
306    2
307    2
Name: Temp_Bucket, Length: 308, dtype: int64

In [20]:
y=df1["Temp_Bucket"]

In [21]:
y.head()

0    2
1    2
2    2
3    2
4    2
Name: Temp_Bucket, dtype: int64

In [22]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x, y, test_size=0.3, random_state=42)

In [23]:
x_train

array([[-1.4020000e+00,  3.8573000e+02,  1.8034500e+03, ...,
         1.3657366e+03,  3.6000000e-03,  1.9800000e-01],
       [-4.9000000e-02,  3.8640000e+02,  1.8021100e+03, ...,
         1.3657228e+03,  4.5000000e-03,  4.6600000e-01],
       [-4.8800000e-01,  3.5589000e+02,  1.7249300e+03, ...,
         1.3667788e+03,  4.7000000e-03,  7.3000000e-02],
       ...,
       [ 1.9920000e+00,  3.5782000e+02,  1.7523900e+03, ...,
         1.3667462e+03,  1.4280000e-01,  1.9900000e-01],
       [-4.0700000e-01,  3.7829000e+02,  1.8036800e+03, ...,
         1.3657792e+03,  3.7000000e-03,  4.7800000e-01],
       [ 1.2020000e+00,  3.5379000e+02,  1.7502700e+03, ...,
         1.3666227e+03,  1.3800000e-01,  7.9000000e-02]])

In [24]:
y_train

297    2
287    0
72     2
15     2
10     2
      ..
188    2
71     2
106    2
270    0
102    2
Name: Temp_Bucket, Length: 215, dtype: int64

In [25]:
x_test

array([[ 1.8300000e-01,  3.8658000e+02,  1.7956500e+03,  3.2044500e+02,
         2.4722400e+02,  5.3813000e+02,  1.3656932e+03,  4.1000000e-03,
         3.7200000e-01],
       [-5.6500000e-01,  3.4477000e+02,  1.6564800e+03,  3.0419400e+02,
         1.9775900e+02,  3.6429600e+02,  1.3656618e+03,  4.1600000e-02,
         1.3000000e-02],
       [ 6.6500000e-01,  3.5168000e+02,  1.7011800e+03,  3.0669900e+02,
         2.4206400e+02,  4.4093700e+02,  1.3661079e+03,  8.8000000e-03,
         1.8900000e-01],
       [ 8.5000000e-02,  3.5418000e+02,  1.7056900e+03,  3.0647200e+02,
         2.4604300e+02,  4.4472900e+02,  1.3663008e+03,  7.1000000e-03,
         1.7500000e-01],
       [-8.6000000e-02,  3.4840000e+02,  1.6594000e+03,  3.0502700e+02,
         2.1251200e+02,  3.8164200e+02,  1.3656964e+03,  1.2600000e-02,
        -4.9000000e-02],
       [-1.3740000e+00,  3.5066000e+02,  1.6917700e+03,  3.0652200e+02,
         2.4818700e+02,  4.4900500e+02,  1.3661451e+03,  9.6000000e-03,
         1.5400000e-01],
       [ 3.0900000e-01,  3.5487000e+02,  1.7348200e+03,  3.0940400e+02,
         2.6570900e+02,  4.8966400e+02,  1.3660527e+03,  6.0000000e-03,
         2.2400000e-01],
       [-6.6700000e-01,  3.6401000e+02,  1.7710200e+03,  3.1370000e+02,
         2.6591100e+02,  5.3732600e+02,  1.3660766e+03,  2.3000000e-03,
         4.0000000e-01],
       [ 4.4100000e-01,  3.7320000e+02,  1.7887500e+03,  3.1779600e+02,
         2.5564100e+02,  5.4271900e+02,  1.3663611e+03,  2.9000000e-03,
         4.9900000e-01],
       [ 1.7240000e+00,  3.4972000e+02,  1.6950800e+03,  3.0581200e+02,
         2.3132500e+02,  4.1606300e+02,  1.3656693e+03,  1.0900000e-02,
         2.1000000e-02],
       [-5.0100000e-01,  3.5153000e+02,  1.7072200e+03,  3.0783000e+02,
         2.5552800e+02,  4.6863100e+02,  1.3665084e+03,  8.3000000e-03,
         1.6800000e-01],
       [-3.3800000e-01,  3.6218000e+02,  1.7728300e+03,  3.1235800e+02,
         2.6887200e+02,  5.3222000e+02,  1.3656994e+03,  6.1000000e-03,
         1.7200000e-01],
       [-1.1770000e+00,  3.8242000e+02,  1.8037900e+03,  3.2106200e+02,
         2.4617800e+02,  5.3731900e+02,  1.3656680e+03,  4.2000000e-03,
         2.6600000e-01],
       [-7.8000000e-01,  3.8299000e+02,  1.8141800e+03,  3.2179600e+02,
         2.4408000e+02,  5.3492700e+02,  1.3656759e+03,  4.6000000e-03,
         4.4000000e-01],
       [ 9.7400000e-01,  3.8293000e+02,  1.7996600e+03,  3.2056100e+02,
         2.4837200e+02,  5.3920600e+02,  1.3657173e+03,  5.4000000e-03,
         6.0100000e-01],
       [-3.5800000e-01,  3.8605000e+02,  1.7818100e+03,  3.2033200e+02,
         2.4688100e+02,  5.3737600e+02,  1.3657616e+03,  4.0000000e-03,
         3.8200000e-01],
       [ 2.0000000e-03,  3.4030000e+02,  1.6637900e+03,  3.0397000e+02,
         1.9517100e+02,  3.5917400e+02,  1.3660589e+03,  5.6900000e-02,
         9.3000000e-02],
       [-5.0500000e-01,  3.6451000e+02,  1.7588900e+03,  3.1171100e+02,
         2.6961000e+02,  5.2826300e+02,  1.3656076e+03,  6.3000000e-03,
         9.7000000e-02],
       [-4.8700000e-01,  3.6304000e+02,  1.7699000e+03,  3.1240800e+02,
         2.6871500e+02,  5.3230200e+02,  1.3656956e+03,  6.0000000e-03,
         1.5600000e-01],
       [ 1.1190000e+00,  3.6669000e+02,  1.7766700e+03,  3.1251900e+02,
         2.6807800e+02,  5.3231100e+02,  1.3657356e+03,  5.5000000e-03,
         2.5400000e-01],
       [-2.7300000e-01,  3.5530000e+02,  1.7138000e+03,  3.0764200e+02,
         2.5379300e+02,  4.6460500e+02,  1.3663298e+03,  5.7000000e-03,
         9.4000000e-02],
       [ 1.7500000e+00,  3.5617000e+02,  1.7555700e+03,  3.1048000e+02,
         2.6805000e+02,  4.9946700e+02,  1.3665226e+03,  1.4830000e-01,
         2.6600000e-01],
       [ 1.4330000e+00,  3.5609000e+02,  1.7786000e+03,  3.1081300e+02,
         2.7092800e+02,  5.1954500e+02,  1.3657159e+03,  1.6600000e-02,
         2.3000000e-01],
       [-2.0100000e-01,  3.6985000e+02,  1.7698700e+03,  3.1582000e+02,
         2.6244400e+02,  5.4174500e+02,  1.3665754e+03,  2.1000000e-03,
         2.6100000e-01],
       [-2.8000000e-01,  3.5002000e+02,  1.7214400e+03,  3.0799300e+02,
         2.5671900e+02,  4.7090700e+02,  1.3662616e+03,  6.2000000e-03,
         1.3500000e-01],
       [ 2.3580000e+00,  3.6071000e+02,  1.7848000e+03,  3.1302500e+02,
         2.6746900e+02,  5.3520500e+02,  1.3659298e+03,  5.1000000e-03,
         4.8500000e-01],
       [ 6.6900000e-01,  3.5331000e+02,  1.7407600e+03,  3.1025200e+02,
         2.7076500e+02,  5.0861400e+02,  1.3659202e+03,  9.7800000e-02,
        -7.2000000e-02],
       [-1.9100000e-01,  3.4713000e+02,  1.6668300e+03,  3.0591100e+02,
         2.1937900e+02,  3.9734500e+02,  1.3655475e+03,  1.5800000e-02,
         6.5000000e-02],
       [-5.9100000e-01,  3.8266000e+02,  1.7867700e+03,  3.1990200e+02,
         2.5015500e+02,  5.4095200e+02,  1.3657850e+03,  3.2000000e-03,
         3.8000000e-01],
       [ 2.1600000e-01,  3.8041000e+02,  1.8060500e+03,  3.1813000e+02,
         2.5438500e+02,  5.4268500e+02,  1.3661742e+03,  2.4000000e-03,
         4.8400000e-01],
       [ 2.1300000e+00,  3.5955000e+02,  1.7444800e+03,  3.0938300e+02,
         2.6865000e+02,  5.0422600e+02,  1.3664173e+03,  1.3790000e-01,
         1.2500000e-01],
       [ 1.1300000e+00,  3.4225000e+02,  1.6313500e+03,  3.0383900e+02,
         1.9360200e+02,  3.5563300e+02,  1.3664202e+03,  6.7300000e-02,
         1.7600000e-01],
       [ 9.1600000e-01,  3.5565000e+02,  1.7338200e+03,  3.0870300e+02,
         2.6059400e+02,  4.7740900e+02,  1.3666447e+03,  6.2000000e-03,
         4.4200000e-01],
       [ 6.4300000e-01,  3.7745000e+02,  1.7972400e+03,  3.1882500e+02,
         2.5275400e+02,  5.4217200e+02,  1.3661552e+03,  2.7000000e-03,
         3.8100000e-01],
       [ 3.1000000e-01,  3.5568000e+02,  1.7309800e+03,  3.0952800e+02,
         2.6600800e+02,  4.9043300e+02,  1.3663072e+03,  5.7000000e-03,
         2.7200000e-01],
       [ 1.0170000e+00,  3.5232000e+02,  1.7517500e+03,  3.0952700e+02,
         2.6684600e+02,  4.9679800e+02,  1.3661477e+03,  1.1970000e-01,
         1.3300000e-01],
       [ 1.1850000e+00,  3.4870000e+02,  1.6904100e+03,  3.0608300e+02,
         2.3059200e+02,  4.1457200e+02,  1.3656590e+03,  1.1100000e-02,
         2.6600000e-01],
       [ 1.6000000e-02,  3.4168000e+02,  1.6746500e+03,  3.0515800e+02,
         2.0440700e+02,  3.7078200e+02,  1.3657869e+03,  2.2000000e-02,
        -3.5000000e-02],
       [-1.0110000e+00,  3.6535000e+02,  1.7948800e+03,  3.1485800e+02,
         2.6418100e+02,  5.3995200e+02,  1.3662295e+03,  2.1000000e-03,
         2.4100000e-01],
       [ 1.3880000e+00,  3.5927000e+02,  1.7467000e+03,  3.1012900e+02,
         2.6991400e+02,  5.0945300e+02,  1.3661796e+03,  5.5900000e-02,
         1.2100000e-01],
       [ 8.7200000e-01,  3.4586000e+02,  1.6924900e+03,  3.0677900e+02,
         2.2822400e+02,  4.0921100e+02,  1.3657097e+03,  1.2300000e-02,
        -3.3000000e-02],
       [-7.3100000e-01,  3.4892000e+02,  1.6668300e+03,  3.0504500e+02,
         2.1182300e+02,  3.7953900e+02,  1.3656366e+03,  1.2800000e-02,
         1.0000000e-03],
       [ 2.6730000e+00,  3.6861000e+02,  1.7803000e+03,  3.1324000e+02,
         2.6605400e+02,  5.3540900e+02,  1.3660897e+03,  3.1000000e-03,
         6.0800000e-01],
       [ 8.9000000e-02,  3.7672000e+02,  1.7859100e+03,  3.1760400e+02,
         2.5611800e+02,  5.4220800e+02,  1.3662437e+03,  2.6000000e-03,
         4.5700000e-01],
       [-1.0110000e+00,  3.8544000e+02,  1.8099200e+03,  3.2132800e+02,
         2.4618300e+02,  5.3687600e+02,  1.3657163e+03,  3.8000000e-03,
         7.4000000e-02],
       [-1.0040000e+00,  3.6494000e+02,  1.7862200e+03,  3.1471600e+02,
         2.6414000e+02,  5.3968500e+02,  1.3665807e+03,  2.1000000e-03,
         2.7400000e-01],
       [-2.0100000e-01,  3.7393000e+02,  1.7866700e+03,  3.1696900e+02,
         2.6000800e+02,  5.4347300e+02,  1.3670065e+03,  2.0000000e-03,
         5.8600000e-01],
       [-1.7600000e-01,  3.4307000e+02,  1.6543100e+03,  3.0408200e+02,
         1.9660900e+02,  3.6217400e+02,  1.3660607e+03,  4.8600000e-02,
         7.8000000e-02],
       [ 7.4000000e-02,  3.8456000e+02,  1.8031000e+03,  3.2054800e+02,
         2.4799700e+02,  5.3881100e+02,  1.3657544e+03,  4.5000000e-03,
         4.3500000e-01],
       [-3.1800000e-01,  3.5029000e+02,  1.7224200e+03,  3.0815100e+02,
         2.5794600e+02,  4.7291200e+02,  1.3669553e+03,  5.4000000e-03,
         1.4500000e-01],
       [ 6.0200000e-01,  3.5427000e+02,  1.7552900e+03,  3.1021600e+02,
         2.7088600e+02,  5.0873700e+02,  1.3661329e+03,  9.1800000e-02,
        -9.7000000e-02],
       [ 3.0800000e-01,  3.7774000e+02,  1.7955000e+03,  3.1755500e+02,
         2.5672400e+02,  5.4302800e+02,  1.3662227e+03,  2.6000000e-03,
         4.0800000e-01],
       [ 4.5400000e-01,  3.6322000e+02,  1.7590300e+03,  3.1087100e+02,
         2.6987300e+02,  5.2396600e+02,  1.3657249e+03,  9.3000000e-03,
         2.8300000e-01],
       [ 5.9300000e-01,  3.5729000e+02,  1.7344700e+03,  3.0856400e+02,
         2.6069900e+02,  4.7917400e+02,  1.3665310e+03,  4.4000000e-03,
         2.3100000e-01],
       [ 1.1290000e+00,  3.6895000e+02,  1.7790000e+03,  3.1341900e+02,
         2.6566800e+02,  5.3612300e+02,  1.3660544e+03,  2.7000000e-03,
         5.7900000e-01],
       [ 5.9600000e-01,  3.7400000e+02,  1.7669600e+03,  3.1687400e+02,
         2.5860000e+02,  5.4318100e+02,  1.3661716e+03,  1.6000000e-03,
         4.6200000e-01],
       [-3.5500000e-01,  3.8850000e+02,  1.7964300e+03,  3.2142000e+02,
         2.4491400e+02,  5.3539900e+02,  1.3657175e+03,  3.1000000e-03,
         2.8300000e-01],
       [-1.0790000e+00,  3.6668000e+02,  1.7968800e+03,  3.1500600e+02,
         2.6426600e+02,  5.4031200e+02,  1.3663525e+03,  2.1000000e-03,
         2.2300000e-01],
       [-7.8700000e-01,  3.6686000e+02,  1.7689900e+03,  3.1455900e+02,
         2.6418200e+02,  5.3931100e+02,  1.3664732e+03,  2.1000000e-03,
         2.5300000e-01],
       [-7.5500000e-01,  3.6833000e+02,  1.7990600e+03,  3.1613300e+02,
         2.6244800e+02,  5.4237900e+02,  1.3669062e+03,  2.1000000e-03,
         1.5900000e-01],
       [-5.0000000e-02,  3.7245000e+02,  1.7879400e+03,  3.1696700e+02,
         2.6039200e+02,  5.4350100e+02,  1.3673162e+03,  2.1000000e-03,
         5.6800000e-01],
       [-2.0800000e-01,  3.6353000e+02,  1.7470300e+03,  3.1148100e+02,
         2.6880300e+02,  5.2880400e+02,  1.3655968e+03,  6.6000000e-03,
         1.7700000e-01],
       [ 8.2200000e-01,  3.5540000e+02,  1.7679900e+03,  3.1042900e+02,
         2.7133900e+02,  5.1455700e+02,  1.3657575e+03,  3.5000000e-02,
        -4.1000000e-02],
       [ 1.7140000e+00,  3.5932000e+02,  1.7433000e+03,  3.0939200e+02,
         2.6901400e+02,  5.0510100e+02,  1.3662973e+03,  1.2650000e-01,
         1.1800000e-01],
       [ 3.1500000e-01,  3.7593000e+02,  1.7950700e+03,  3.1812900e+02,
         2.5552200e+02,  5.4319900e+02,  1.3662899e+03,  2.7000000e-03,
         5.1900000e-01],
       [ 1.0590000e+00,  3.7220000e+02,  1.8016700e+03,  3.1723400e+02,
         2.5828900e+02,  5.4364700e+02,  1.3664495e+03,  2.4000000e-03,
         3.9700000e-01],
       [-1.1380000e+00,  3.7056000e+02,  1.7923200e+03,  3.1516200e+02,
         2.6347300e+02,  5.4072900e+02,  1.3664819e+03,  2.1000000e-03,
         3.3400000e-01],
       [-6.6000000e-02,  3.5144000e+02,  1.7262100e+03,  3.0838900e+02,
         2.5873000e+02,  4.7424500e+02,  1.3668248e+03,  5.5000000e-03,
         6.7000000e-02],
       [-1.9700000e-01,  3.5911000e+02,  1.7509400e+03,  3.1069700e+02,
         2.6966100e+02,  5.2564700e+02,  1.3657150e+03,  8.7000000e-03,
         3.0500000e-01],
       [ 3.0700000e-01,  3.5366000e+02,  1.7081800e+03,  3.0658100e+02,
         2.4495400e+02,  4.4384600e+02,  1.3660642e+03,  7.4000000e-03,
         2.2400000e-01],
       [ 9.7900000e-01,  3.5836000e+02,  1.7479500e+03,  3.1016700e+02,
         2.7015400e+02,  5.0921800e+02,  1.3662090e+03,  6.0800000e-02,
         2.0200000e-01],
       [-1.7600000e-01,  3.4153000e+02,  1.6582300e+03,  3.0403200e+02,
         1.9592100e+02,  3.6075800e+02,  1.3661072e+03,  5.2400000e-02,
         2.3200000e-01],
       [ 2.8500000e-01,  3.6774000e+02,  1.7624600e+03,  3.1354200e+02,
         2.6578700e+02,  5.3615100e+02,  1.3662444e+03,  2.5000000e-03,
         6.5100000e-01],
       [-5.0000000e-02,  3.4440000e+02,  1.6806800e+03,  3.0553000e+02,
         2.1628200e+02,  3.9271400e+02,  1.3656289e+03,  9.7000000e-03,
        -9.3000000e-02],
       [-7.3700000e-01,  3.4766000e+02,  1.6783400e+03,  3.0516500e+02,
         2.1036800e+02,  3.7600400e+02,  1.3656570e+03,  1.4100000e-02,
        -3.2000000e-02],
       [ 1.0180000e+00,  3.8114000e+02,  1.8033700e+03,  3.1886600e+02,
         2.5227100e+02,  5.4204400e+02,  1.3658956e+03,  3.4000000e-03,
         4.9300000e-01],
       [ 1.0920000e+00,  3.5038000e+02,  1.6982900e+03,  3.0663600e+02,
         2.4115500e+02,  4.3829600e+02,  1.3660546e+03,  8.5000000e-03,
         3.3400000e-01],
       [-4.6800000e-01,  3.5811000e+02,  1.7612600e+03,  3.1082800e+02,
         2.6979200e+02,  5.2598900e+02,  1.3656943e+03,  8.5000000e-03,
         2.1000000e-01],
       [ 1.2000000e+00,  3.5987000e+02,  1.7643300e+03,  3.1111500e+02,
         2.7043500e+02,  5.2154000e+02,  1.3658250e+03,  1.2000000e-02,
         3.4900000e-01],
       [-2.4700000e-01,  3.6691000e+02,  1.7742200e+03,  3.1592900e+02,
         2.6236500e+02,  5.4189800e+02,  1.3665276e+03,  2.1000000e-03,
         3.0900000e-01],
       [ 5.6300000e-01,  3.8409000e+02,  1.7802100e+03,  3.1988200e+02,
         2.4961400e+02,  5.3999900e+02,  1.3658340e+03,  3.3000000e-03,
         4.4200000e-01],
       [-5.2100000e-01,  3.7182000e+02,  1.7872300e+03,  3.1520100e+02,
         2.6306800e+02,  5.4107300e+02,  1.3666498e+03,  2.1000000e-03,
         4.4600000e-01],
       [ 4.9400000e-01,  3.6377000e+02,  1.7619400e+03,  3.1082400e+02,
         2.6994100e+02,  5.2376800e+02,  1.3656586e+03,  1.0000000e-02,
         1.7600000e-01],
       [ 4.9300000e-01,  3.6625000e+02,  1.7809600e+03,  3.1265200e+02,
         2.6815100e+02,  5.3225700e+02,  1.3657013e+03,  5.2000000e-03,
         2.0100000e-01],
       [ 3.7200000e-01,  3.5305000e+02,  1.7414200e+03,  3.0907200e+02,
         2.6445500e+02,  4.8752800e+02,  1.3658518e+03,  6.0000000e-03,
         2.7800000e-01],
       [ 3.0000000e-03,  3.7118000e+02,  1.7965800e+03,  3.1688300e+02,
         2.6043200e+02,  5.4341900e+02,  1.3668910e+03,  2.2000000e-03,
         3.2300000e-01],
       [-1.4680000e+00,  3.5015000e+02,  1.7198800e+03,  3.0727400e+02,
         2.5166400e+02,  4.5622600e+02,  1.3662957e+03,  6.8000000e-03,
         2.7000000e-02],
       [ 6.9900000e-01,  3.5686000e+02,  1.7478200e+03,  3.1039700e+02,
         2.7119300e+02,  5.0923200e+02,  1.3663025e+03,  7.4300000e-02,
         2.0400000e-01],
       [ 3.0000000e+00,  3.6031000e+02,  1.7755600e+03,  3.1284500e+02,
         2.6741400e+02,  5.3441500e+02,  1.3656734e+03,  5.3000000e-03,
         4.5700000e-01],
       [-1.2500000e-01,  3.7873000e+02,  1.8074800e+03,  3.1819800e+02,
         2.5471200e+02,  5.4300800e+02,  1.3661272e+03,  2.4000000e-03,
         5.0100000e-01],
       [-6.1100000e-01,  3.4454000e+02,  1.6721500e+03,  3.0531300e+02,
         2.0730800e+02,  3.7270100e+02,  1.3657617e+03,  1.8800000e-02,
        -2.8200000e-01],
       [ 1.8200000e-01,  3.6170000e+02,  1.7492100e+03,  3.1071300e+02,
         2.6963600e+02,  5.2487800e+02,  1.3656960e+03,  9.4000000e-03,
         2.7600000e-01],
       [ 1.4200000e-01,  3.5284000e+02,  1.7306100e+03,  3.0855800e+02,
         2.5947200e+02,  4.7563000e+02,  1.3668784e+03,  5.4000000e-03,
         1.8100000e-01]])

In [26]:
y_test

288    2
9      2
57     2
60     2
25     1
      ..
172    0
250    0
19     3
146    2
79     2
Name: Temp_Bucket, Length: 93, dtype: int64

In [27]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
x_train = scaler.fit_transform(x_train)
x_test = scaler.transform(x_test)

# Naive bayes

In [28]:
from sklearn.metrics import classification_report,accuracy_score         #importing classification_report,confusion_matrix,accuracy_score

In [29]:
from sklearn.naive_bayes import GaussianNB       #importing GaussianNB 
model2=GaussianNB()
model2.fit(x_train,y_train)                       #fitting on the data

GaussianNB()

In [30]:
model2.score(x_test,y_test)                       #Calculating the accuracy of the testing data

0.7526881720430108

In [31]:
y_pred=model2.predict(x_test)                   #prediction on the test data
df2=pd.DataFrame({'Actual Temp_Bucket':y_test,'Predicted Temp_Bucket ':y_pred})

In [32]:
df2

     Actual Temp_Bucket  Predicted Temp_Bucket
288                   2                       0
9                     2                       1
57                    2                       2
60                    2                       2
25                    1                       1
..                  ...                     ...
172                   0                       0
250                   0                       0
19                    3                       1
146                   2                       2
79                    2                       2

[93 rows x 2 columns]

In [33]:
# print(classification_report(y_test,y_pred))

In [34]:
data=pd.read_excel('/content/drive/MyDrive/Climate_Change_Predicton.xlsx')    #Importing the new data for pediction
data

,Year,Month,MEI,CO2,CH4,N2O,CFC-11,CFC-12,TSI,Aerosols,Temp
0,1987,7,-0.138,343.07,1674.65,303.970,223.189,535.979,1366.2335,0.0068,-0.035
1,1986,3,-0.179,344.05,1677.10,304.032,224.236,535.648,1366.0589,0.0058,-0.008
2,1986,7,-0.082,344.77,1672.15,304.082,225.302,535.399,1366.1072,0.0060,-0.093
3,1981,9,0.016,345.46,1663.42,304.130,226.343,535.128,1366.0607,0.0060,-0.002
4,1991,12,-0.351,346.77,1666.21,304.194,227.325,535.026,1365.4261,0.0060,0.121
5,1995,11,-0.611,347.55,1678.34,304.285,228.224,535.072,1365.6618,0.0057,0.065
6,1974,10,-0.561,346.98,1675.24,304.389,229.058,535.048,1366.1697,0.0055,0.049
7,1983,3,2.344,345.55,1666.83,304.489,229.846,534.927,1365.5660,0.0053,0.009

In [35]:
data1=data.drop(["Year","Month"],axis=1)
data1.head()

,MEI,CO2,CH4,N2O,CFC-11,CFC-12,TSI,Aerosols,Temp
0,-0.138,343.07,1674.65,303.970,223.189,535.979,1366.2335,0.0068,-0.035
1,-0.179,344.05,1677.10,304.032,224.236,535.648,1366.0589,0.0058,-0.008
2,-0.082,344.77,1672.15,304.082,225.302,535.399,1366.1072,0.0060,-0.093
3,0.016,345.46,1663.42,304.130,226.343,535.128,1366.0607,0.0060,-0.002
4,-0.351,346.77,1666.21,304.194,227.325,535.026,1365.4261,0.0060,0.121

In [36]:
model2.predict(data1)                #Predicting on the  new data

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:444: UserWarning: X has feature names, but GaussianNB was fitted without feature names
  f"X has feature names, but {self.__class__.__name__} was fitted without"

array([2, 2, 2, 2, 2, 2, 2, 2])

In [37]:
accuracy_score(y_pred,y_test)    #accuracy score calculation

0.7526881720430108